.label {
    background-color: transparent;
    justify-content: center;
    width: 80vw;
    max-width: 450px;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
    top: 45%;
    left: 45%;
    transform: translate(-50%,-50%);
    margin: 0;
    border-radius: 500px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(217, 217, 217, 0.01);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 5;
  }
  
  .label .hello-i-m-emmanuel-wrapper {
    border: 0px none;
  }
  
  .label .hello-i-m-emmanuel {
    color: transparent;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin: 0 auto;
    width: 70vw;
    max-width: 400px;
    margin-bottom: 10px;
  }
  
  .label .text-wrapper {
    color: #ffffff;
  }
  
  .label .span {
    color: #f9d6ac;
  }
  
  .label .text-wrapper-2 {
    color: #ffffff;
    font-size: 18px;
  }

  @media screen and (max-width: 992px) {

  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 400px) {
    .label {
        border: none;
        box-shadow: none;
    }
  }